---
const { title, baseUrl, slug } = Astro.props;
const href = baseUrl ? `${baseUrl}/${slug}` : `${slug}`;
---

<li class="mt-1 capitalize">
  <a
    class="text-stone-600 hover:text-stone-900 hover:font-medium pl-1"
    href={href}
    rel="prefetch"
  >
    {title}
  </a>
</li>
